.about {
  .about-content {
    @include flex(row, space-between, center);

    padding: 0 175px;

    gap: 120px;

    .side-left {
      img {
        width: 300px;
        height: 408px;

        vertical-align: middle;
      }
    }

    .side-right {
      @include flex(column);

      gap: 25px;
    }
  }
}

@media (320px < width <= 768px) {
  .about {
    .about-content {
      max-width: 430px;

      flex-direction: column-reverse;

      padding: 0;

      gap: 80px;
    }
  }
}
