.start-screen {
  padding: 0 10px;

  background: $start-screen-gradient-background;

  .start-screen-content {
    @include flex(row, space-between, start);
    padding-top: 180px;

    gap: 42px;

    .side-left {
      @include flex(column, space-between, flex-start);

      gap: 42px;

      margin-top: 163px;

      h2 {
        color: $color-light-xl;
      }

      p {
        color: $color-dark-s;
      }
    }

    .side-right {
      img {
        width: 698px;
        height: 728px;

        vertical-align: middle;
      }
    }
  }
}
