.help {
  .help-content {
    @include flex(column, space-between, center);

    gap: 60px;

    h3 {
      text-align: center;
    }

    .list {
      @include flex(row, center, center);

      width: 100%;
      flex-wrap: wrap;
      gap: 55px 120px;

      .item {
        @include flex(column, space-between, center);

        gap: 30px;

        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

@media (width <= 768px) {
  .help {
    .help-content {
      max-width: 630px;

      .list {
        gap: 55px 60px;

        .item {
          flex: 0 0 170px;
        }
      }
    }
  }
}
