.donation {
  background-color: $color-light-l;

  .content {
    max-width: 915px;
  }

  .donation-content {
    @include flex(row, space-between, center);

    gap: 30px;

    .side-left {
      max-width: 505px;
      max-height: 261px;

      img {
        width: 100%;
      }
    }

    .side-right {
      @include flex(column, space-between, flex-start);
      max-width: 380px;

      gap: 20px;

      .credit-card {
        @include flex(row, space-between, center);

        padding: 10px 15px;

        border-radius: 9px;
        background-color: $color-primary;

        gap: 15px;

        transition: background-color 0.3s;

        &:hover {
          background-color: $color-primary-light;
        }
      }
    }
  }
}

@media (width <= 768px) {
  .donation {
    .donation-content {
      max-width: 505px;
      flex-direction: column-reverse;

      gap: 60px;

      .side-right {
        max-width: 380px;
      }
    }
  }
}

@media (width <= 420px) {
  .donation {
    .donation-content {
      gap: 42px;

      .side-left {
        max-width: 260px;
      }

      .side-right {
        align-items: center;

        h4 {
          font-size: 15px;
          letter-spacing: 0.9px;
          line-height: 110%;
        }

        h5 {
          letter-spacing: normal;
          line-height: 1.6;
        }

        p {
          text-align: justify;
        }
      }
    }
  }
}
