.header {
  background: $start-screen-gradient-background;

  .start-screen-content {
    @include flex(row, space-between);

    margin-top: 88px;

    gap: 42px;

    .side-left {
      @include flex(column, flex-start, flex-start);
      min-height: 100%;
      padding: 164px 0 40px;

      gap: 41px;

      h2 {
        color: $color-light-xl;
      }

      p {
        color: $color-dark-s;
      }
    }

    .side-right {
      @include flex(row, center, flex-end);

      min-height: 100%;

      flex: 1 0 calc(698 / 1200 * 100%);

      img {
        width: 100%;
        max-width: 698px;
      }
    }
  }
}

@media (width <= 1100px) {
  .header {
    .start-screen-content {
      .side-left {
        justify-content: center;
        padding-top: 0;
      }
    }
  }
}

@media (width <= 768px) {
  .header {
    .start-screen-content {
      @include flex(column, space-between, center);

      margin-top: 60px;

      gap: 100px;

      .side-left {
        max-width: 460px;
        align-items: center;
        padding-bottom: 0;
        margin-top: 0;

        h2 {
          width: 100%;
        }
      }

      .side-right {
        min-width: 100%;
        justify-content: flex-end;

        img {
          max-width: 569px;
        }
      }
    }
  }
}

@media (width <= 320px) {
  .header {
    .start-screen-content {
      max-width: 300px;

      align-items: end;

      gap: 105px;

      .side-left {
        p {
          text-align: center;
        }
      }

      .side-right {
        right: 0;

        img {
          max-width: 260px;
        }
      }
    }
  }
}
