.donation {
  background-color: $color-light-l;

  .content {
    max-width: 915px;
  }

  .donation-content {
    @include flex(row, space-between, center);

    gap: 30px;

    .side-left {
      img {
        width: 505px;
        height: 261px;

        vertical-align: middle;
      }
    }

    .side-right {
      @include flex(column, space-between, flex-start);

      gap: 20px;

      .credit-card {
        @include flex;

        padding: 10px 15px;

        border-radius: 9px;
        background-color: $color-primary;

        gap: 15px;
      }
    }
  }
}

@media (320px < width <= 768px) {
  .donation {
    .donation-content {
      max-width: 505px;
      flex-direction: column-reverse;

      gap: 60px;

      .side-right {
        max-width: 380px;
      }
    }
  }
}
