.header {
  @include flex(row, space-between, center);

  div {
    padding: 30px 0;
  }

  ul {
    @include reset;
    @include flex(row, flex-start, center);

    gap: 35px;

    list-style: none;
  }
}