.header {
  padding: 30px 40px 0;

  .header-content {
    @include flex(row, space-between, center);

    .nav-toggle-label {
      display: none;
    }

    .nav-toggle {
      display: none;
    }

    nav {
      position: relative;
      top: -3px;
    }

    ul {
      @include flex(row, flex-start, center);

      gap: 35px;

      list-style: none;
    }
  }
}

@media (width < 1200px) {
  .header {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (width < 768px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;

    .header-content {
      margin: 0 10px;

      .nav-toggle-label {
        display: block;
      }

      .nav-toggle-label::before {
        display: block;
        width: 30px;
        height: 22px;

        background-image: url("../assets/icons/icon-burger.svg");
        background-size: contain;

        content: "";

        cursor: pointer;
      }

      nav {
        display: none;
        width: 100%;
      }
    }
  }
}
