@mixin paragraph-s {
  color: $color-dark-m;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
}

@mixin flex($fd: row, $jc: flex-start, $ai: stretch) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

@mixin test-border {
  border: 1px solid red;
}
