$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;
$color-dark-xl: #4C4C4C;
$color-light-s: #FAFAFA;
$color-light-xl: #FFFFFF;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$start-screen-gradient-background: url("../assets/images/noise_transparent.png"), radial-gradient(237.5% 111.8% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;