.pets {
  background-color: $color-light-l;

  .pets-content {
    @include flex(column, space-between, center);

    gap: 60px;

    h3 {
      text-align: center;
    }

    .slider {
      @include flex(row, space-between, center);

      width: 100%;

      .cards-container {
        @include flex(row, center, center);

        flex-wrap: wrap;
        gap: 30px 40px;
      }
    }
  }
}

@media (width < 950px) {
  .pets {
    padding-bottom: 75px;

    .pets-content {
      gap: 30px;

      .slider {
        justify-content: center;

        .cards-container {
          overflow: hidden;

          max-width: 580px;
          max-height: 1365px;
        }
      }
    }

    .controls {
      padding-top: 10px;
    }
  }
}

@media (width < 650px) {
  .pets {
    padding: 42px 10px;

    .pets-content {
      gap: 42px;

      .controls {
        padding-top: 0;

        gap: 10px;
      }
    }
  }
}
