@font-face {
  font-family: Arial;
  font-weight: normal;
  src: url("../assets/fonts/arial/arial-regular.ttf");
}
@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/arial/arial-italic.ttf");
}
@font-face {
  font-family: Arial;
  font-weight: bold;
  src: url("../assets/fonts/arial/arial-bold.ttf");
}
@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/arial/arial-bold-italic.ttf");
}
@font-face {
  font-family: "Arial Narrow";
  font-weight: normal;
  src: url("../assets/fonts/arial/arial-narrow.ttf");
}
@font-face {
  font-family: "Arial Narrow";
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/arial/arial-narrow-italic.ttf");
}
@font-face {
  font-family: "Arial Narrow";
  font-weight: bold;
  src: url("../assets/fonts/arial/arial-narrow-bold.ttf");
}
@font-face {
  font-family: "Arial Narrow";
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/arial/arial-narrow-bold-italic.ttf");
}
@font-face {
  font-family: "Arial Black";
  src: url("../assets/fonts/arial/arial-black.ttf");
}
@font-face {
  font-family: Georgia;
  font-weight: normal;
  src: url("../assets/fonts/georgia/georgia-regular.ttf");
}
@font-face {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/georgia/georgia-italic.ttf");
}
@font-face {
  font-family: Georgia;
  font-weight: bold;
  src: url("../assets/fonts/georgia/georgia-bold.ttf");
}
@font-face {
  font-family: Georgia;
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/georgia/georgia-bold-italic.ttf");
}
* {
  box-sizing: border-box;
}

html {
  font: 15px/1.6 Arial, sans-serif;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
}

h2,
h3,
h4,
h5 {
  color: #545454;
  font-family: Georgia, serif;
  font-weight: normal;
}

h2 {
  font-size: 44px;
  line-height: 1.3;
}

h3 {
  font-size: 35px;
  letter-spacing: 2.1px;
  line-height: 1.3;
}

h4 {
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 1.15;
}

h5 {
  font-size: 15px;
  letter-spacing: 0.9px;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

.section {
  padding: 80px 40px 100px;
}

.content {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-l {
  color: #4c4c4c;
}

.paragraph-s {
  color: #b2b2b2;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.logo-title {
  font: 32px/1.1 Georgia, serif;
  letter-spacing: 1.92px;
}
.logo-subtitle {
  font: 13px/1.3 Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1.3px;
}

.link {
  font: inherit;
  transition: all 0.3s;
}
.link-active {
  position: relative;
  pointer-events: none;
}
.link-active::after {
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #f1cdb3;
  content: "";
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 13px 43px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  color: #292929;
  font: 17px/1.3 Georgia, serif;
  font-weight: normal;
  letter-spacing: 1.02px;
  text-align: center;
  transition: all 0.3s;
  vertical-align: middle;
}
.btn:hover {
  border-color: #fddcc4;
  background-color: #fddcc4;
  cursor: pointer;
}
.btn-color {
  background-color: #f1cdb3;
}
.btn-control {
  width: 52px;
  height: 52px;
  padding: 0;
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 1.15;
}
.btn .left-arrow {
  transform: rotate(180deg);
}
.btn .right-arrow {
  transform: rotate(180deg);
}
.btn-active {
  border-color: #f1cdb3;
  background-color: #f1cdb3;
  pointer-events: none;
}
.btn-inactive {
  border-color: #cdcdcd;
  color: #cdcdcd;
  pointer-events: none;
}
.btn-inactive h4 {
  border-color: #cdcdcd;
  color: #cdcdcd;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 270px;
  height: 435px;
  padding-bottom: 30px;
  background-color: #fafafa;
  gap: 30px;
}
.card:hover {
  cursor: pointer;
}
.card:hover .btn {
  border-color: #fddcc4;
  background-color: #fddcc4;
}
.card img {
  width: 270px;
  height: 270px;
}

.br {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.test-border {
  border: 1px solid red;
}

@media (320px < width <= 768px) {
  .section {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.header {
  padding: 30px 40px 0;
}
.header .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .header-content nav {
  position: relative;
  top: -3px;
}
.header .header-content ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
  list-style: none;
}

@media (320px < width <= 768px) {
  .header {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.footer {
  padding: 40px 40px 0;
  background: url("../assets/images/noise_transparent.png"), radial-gradient(237.5% 111.8% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.footer .footer-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 160px;
}
.footer .footer-content .contacts-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 160px;
}
.footer .footer-content .contacts-container .item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  gap: 40px;
}
.footer .footer-content .contacts-container .item h3 {
  color: #fff;
}
.footer .footer-content .contacts-container .item h4 {
  color: #f1cdb3;
}
.footer .footer-content .contacts-container .item ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 40px;
  list-style: none;
}
.footer .footer-content .contacts-container .item ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.footer .footer-content .contacts-container .item ul li a .icon {
  height: 32px;
}
.footer .footer-content .contacts-container .item ul li a .icon-email, .footer .footer-content .contacts-container .item ul li a .icon-phone {
  width: 40px;
}
.footer .footer-content .contacts-container .item ul li a .icon-marker {
  width: 22px;
}
.footer .footer-content .contacts-container .locations {
  flex: 1 0 300px;
  gap: 32px;
}
.footer .footer-content .contacts-container .locations ul {
  gap: 32px;
}
.footer .footer-content .img img {
  width: 300px;
  height: 310px;
  vertical-align: middle;
}

@media (320px < width <= 768px) {
  .footer {
    padding: 30px 30px 0;
  }
  .footer .footer-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px;
  }
  .footer .footer-content .contacts-container {
    max-width: 640px;
    gap: 60px;
  }
  .footer .footer-content .contacts-container .item {
    margin-top: 0;
  }
}
.header {
  margin-bottom: 27px;
}

.logo-title {
  color: #545454;
}
.logo-subtitle {
  color: #292929;
}

.link {
  color: #545454;
}
.link:hover {
  color: #292929;
}
.link-active {
  color: #545454;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.pets {
  background-color: #f6f6f6;
}
.pets .pets-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.pets .pets-content h3 {
  text-align: center;
}
.pets .pets-content .slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.pets .pets-content .slider .cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 40px;
}

/*# sourceMappingURL=pets-app.css.map */
